@model YouCodeReservation.Models.ReservationTypeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn badge-primary"> <i class="fa fa-edit" aria-hidden="true"></i>Edit</a>
    <a class="btn btn-outline-dark" asp-action="Index">
        <i class="fa fa-arrow-left"></i> Back to List
    </a>
</div>
